@import variables

.Main
  display: flex
  flex-direction: column
  height: 100%
  color: $accent

  .flex-container
    display: flex
    justify-content: center
    flex: 0

    .input-container
      flex: content
      margin: 2rem 1rem
      max-width: 50rem

    .toggle-container
      flex: 0
      margin: auto 0

.custom-toggle.react-toggle--checked, .custom-toggle.react-toggle
  .react-toggle-thumb
    background-color: $accent
    border: 0
  .react-toggle-track
    background-color: $accent1
    &:hover
      background-color: $accent1

.custom-toggle.react-toggle--checked, .custom-toggle.react-toggle
  &:hover
    .react-toggle-track
      background-color: $accent1
      &:hover
        background-color: $accent1
