@import variables

.Main
  display: flex
  flex-direction: column
  height: 100%
  color: $accent

  .flex-container
    display: flex
    flex: 0

    .input-container
      flex: content
      margin: 2rem 3rem
