[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
web3 = "*"
flask = "*"
eth-abi = "*"
celery = "*"
redis = "*"
gunicorn = "*"
requests = "*"
numpy = "*"
click = "*"

[requires]
python_version = "3.8"
